importFrom("methods", Ops, Math)
importFrom("graphics", plot, hist, lines, image, contour, persp, pairs, text)
importFrom("stats", aggregate, predict, density, quantile)
importFrom("utils", stack, unstack)
importFrom("sp", overlay, bbox, Spatial, SpatialPixels, SpatialPixelsDataFrame, SpatialGrid, SpatialGridDataFrame)
exportClasses(Extent, BasicRaster, Raster, RasterLayer, RasterBrick, RasterStack, RasterStackBrick)
exportMethods("[", area, aggregate, bbox, band, brick, calc, clump, contour, crop, dim, disaggregate, distance, extent, expand, flip, hist, ncol, nrow, ncell, Median, overlay, persp, plot, plot3D, plotRGB, predict, raster, reclass, rotate, sampleRandom, shift, show, subs, stack, unstack)
exportPattern("^[^\\.]")
