importFrom("methods", Ops, Math)
importFrom("graphics", plot, hist, lines, image, contour, persp, pairs, text, boxplot)
importFrom("stats", aggregate, predict, density, quantile, update)
importFrom("utils", stack, unstack, head, tail)
importFrom("sp", overlay, bbox, Spatial, SpatialPixels, SpatialPixelsDataFrame, SpatialGrid, SpatialGridDataFrame)
exportClasses(Extent, BasicRaster, Raster, RasterLayer, RasterBrick, RasterStack, RasterStackBrick)
exportMethods("[", area, band, brick, calc, clump, crop, disaggregate, distance, extent, extract, expand, flip, ncell, Median, nlayers, overlay, plot3D, plotRGB, raster, reclass, rotate, sampleRandom, shift, subs, trim, unstack)
exportPattern("^[^\\.]")
