import(sp)
importFrom("methods", Ops, Math)
importFrom("graphics", hist, lines, image, contour, persp, pairs, text, boxplot)
importFrom("grDevices", as.raster)
importFrom("stats", aggregate, predict, density, quantile, update)
importFrom("utils", stack, unstack, head, tail)
exportClasses(Extent, BasicRaster, Raster, RasterLayer, RasterBrick, RasterStack, RasterStackBrick)
exportMethods("[", area, bandnr, brick, calc, clump, crop, disaggregate, distance, extent, extract, extend, flip, intersect, merge, ncell, nlayers, overlay, plotRGB, raster, reclassify, resample, rotate, sampleRandom, stackSelect, shift, subs, trim, unstack, zonal)
useDynLib(raster)
exportPattern("^[^\\.]")
